.icon {
    width: 20px;
    height: auto;
}

input {
    box-shadow: none;
    border-right: 0px !important;
}

input :focus {
    box-shadow: 2px 2px #3d7c54 !important
}

.input-group {
    border: 1px #3d7c54 solid !important;
    border-radius: 0.25rem;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.9;
    padding: 0.5rem;
    background-color: white;
}