<div class="nav-container">
  <div class="col-3">
    <img src="./../../../assets/images/Devices Screen/devicesscreen_logo.png" alt="logo" srcset="">
  </div>
  <div class="col-8 col-xs-offset-1 d-flex justify-content-center align-items-center">
    <div class="input-group">
      <input class="form-control py-2 border-right-0 border" type="search" placeholder="search" id="example-search-input">
      <span class="input-group-append">
        <div class="input-group-text bg-transparent">
          <img class="icon" src="./../../../assets/images/Devices-Screen/devicesscreen_btn_search.png" alt="Search">
        </div>
      </span>
    </div>
  </div>
</div>