<div class="row no-gutters mt-1 mb-1">
  <div class="col"></div>
  <div class="col-10 controls-container">
    <button class="btn" (click)="connectDevices()">
      <img [src]="connectImg" alt="" srcset="">
    </button>
    <button class="btn" (click)="disconnectDevices()">
      <img [src]="disconnectImg" alt="" srcset="">
    </button>
    <button class="btn" (click)="shareScreen()">
      <img [src]="shareScreenImg" alt="" srcset="">
    </button>
    <button class="btn" (click)="stopScreenSharing()">
      <img [src]="stopSharingImg" alt="" srcset="">
    </button>
  </div>
  <div class="col"></div>
</div>