button {
    max-width: 160px;
    margin: auto 5px;
    img {
        max-width: 160px;
        height: auto;
    }
}

.controls-container {
    background-color: white;
    opacity: 0.9;
    margin: 1rem auto;
    border-radius: 8px;
}