<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.1.2/simplepeer.min.js"></script>

<body>

    <style>
        #outgoing {
        width: 600px;
        word-wrap: break-word;
      }
    </style>
    <form>
        <textarea id="incoming"></textarea>
        <button type="submit">submit</button>
    </form>
    <pre id="outgoing"></pre>
    <!-- <script src="bundle.js"></script> -->
</body>

</html>

<script>

    var Peer = require('simple-peer')

    // get video/voice stream
    navigator.getUserMedia({ video: true, audio: true }, gotMedia, function () { })

    function gotMedia(stream) {
        var peer1 = new Peer({ initiator: true, stream: stream })
        var peer2 = new Peer()

        peer1.on('signal', function (data) {
            peer2.signal(data)
        })

        peer2.on('signal', function (data) {
            peer1.signal(data)
        })

        peer2.on('stream', function (stream) {
            // got remote video stream, now let's show it in a video tag
            var video = document.querySelector('video')
            video.src = window.URL.createObjectURL(stream)
            video.play()
        })
    }

</script>