.bg-white-container {
    background-image: url('./../../../assets/images/Devices-Screen/devicesscreen_bg_list.png');
    margin: auto;
}

.devices-container {
    background-color: white;
    opacity: 0.9;
    margin-top: 1rem;
    border-radius: 8px;
    min-height: 380px;
}

img {
    max-width: 100%;
    height: auto;
}

.devices-status-bar {
    background: url('./../../../assets/images/Devices-Screen/devicesscreen_bg_titlebar.png');
    max-width: 100%;
    height: auto;
    padding: 1em;
    color: white !important;
}

.device-text {
    font-size: 1.5rem;
    margin-bottom: 0.5rem !important;
    font-family: inherit !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    color: inherit !important;
}